.footer {
  background: rgba(240, 187, 52, 0.7);
  height: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.contenedor{
  display:grid;
  justify-content: center;
  align-items: center;

  
}
.redes-sociales{
  display: flex;
  gap: 2rem;
  font-size: 2.2rem;
  align-items: center;
  justify-content: center;
}

