.home{
    
    height:60vh;
    width: 100%;
    padding-top: 20px;
    background-color: rgba(240, 187, 52, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
}
.typing-demo{
    width: 25ch;
    animation: typing 3s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid transparent;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
    
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
    
}


/* .me-text{
    font-size: 2rem;
    height: 60vh;
    width: 80%; */
    /* position: relative; */

   
/* } */

