.card{
    /* height: 70vh; */
    width: 99%;
    

}
.col:hover{
    transform: scale(0.9);
    cursor: pointer;
}

@media screen and (max-width: 1062px){
    .card{
        overflow: hidden;
    }
}