.tic{

display: flex;
 justify-content: center; 
 gap: 13rem;
 width: 100%;
height: 60vh;
align-items: center;
align-content: center;

}


.tac{
    animation-name: exp;
    animation-duration:5s;
    height: 33vh;
    animation-iteration-count: infinite;

}
@keyframes exp {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.0);
    }
    
} 



.tec{
    animation-name: exp;
    animation-duration:5s;
    height: 33vh;
    animation-iteration-count: infinite;

}
@keyframes exp {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(0.1);
    }
    
}

.toc{
    animation-name: exp;
    animation-duration:5s;
    height: 33vh;
    animation-iteration-count: infinite;
}
@keyframes exp {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.0);
    }
    
}

.icon{
    height: 33vh;
    fill: #00c8ff;
    animation-name: exp;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes exp {
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1.0);
    }
    
} 

/* Responsive */

@media screen and (max-width: 380px) {

    .title{
        font-size: 1.2rem;
    }
    
    .tic{
        display: grid;
        grid-template-columns: 1fr;
         gap: 4rem;
        height: 80vh; 
        width: 90%;   
        justify-content: center;  
        align-items: center;

    }
    .tac{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .icon{
        width: 95px;
    }
}

@media screen and (max-width: 1088px) {

    .title{
        font-size: 1.2rem;
    }
    
    .tic{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        width: 90%;
        height: 80vh;    
        /* margin-left: 50px; */

    }
    .tac{
        display: flex;
        animation: none;
        height: 25vh;
        
    }

    .tec{
        animation: none;
        height: 25vh;
       
    }
    .toc{
        animation: none;
        height: 25vh;
    }
    .icon{
        animation: none;
        height: 19vh;
    }
}
 @media screen and (max-width: 1300px){
    .tic{
        gap: 8rem;
    }
    .tac{
        width: 90px;
    }
    .tec{
        width: 90px;
    }
    .toc{
        width: 90px;
    }
    .icon{
        width: 96px;
    }

} 